<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-20 lg:max-w-7xl lg:px-1">
    <div class="mt-1 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% 10.times do %>
        <div class="group relative">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-xl bg-gray-200 group-hover:opacity-75 ">
            <img src="https://th.bing.com/th/id/OIP.4tcTs1qGhW7JsgdFeDI_eQHaEX?rs=1&pid=ImgDetMain" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div class="w-full">
              <div class="flex justify-between ">
                <h3 class="text-md font-bold text-black-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Chennai, India
                  </a>
                </h3>
                <p class="flex items-center justify-between w-14 px-2  text-sm font-medium text-gray-900">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 12px; width: 12px; fill: currentcolor;"><path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path></svg>
                  4.8
                </p>
              </div>
              <p class="mt-1 text-sm text-gray-500">Hosted by Falih</p>
              <p class="mt-1 text-sm text-gray-500">20-25 Jul</p>
              <p class="mt-1 text-sm text-black-800"><strong>$105</strong> per night.</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>